.dashboard {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}
.card {
    width: calc(50% - 10px);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cards .card p {
    font-size: 20px;
}
button[type="submit"] {
    display: block;
    margin: 0 auto;
}